


body {

  padding: var(--spacing-medium);
  background-color: var(--color-main);
}

.title {

  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-large);
  background-color: var(--color-secondary);
}

 main { 

  display: flex;
  flex-direction: column;

}

  .form-pharmaForm {

  padding-top: var(--spacing-small);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);

}
 label { 

        display: flex;
        flex-direction: column;
        align-items: center;
    }

  input {  
 
        height: var(--spacing-large);
        padding: var(--spacing-medium);
    }

  .submit-button { 

        padding-top: var(--spacing-medium);
        padding-bottom:  var(--spacing-medium);

   }

  .display-drugs  { 
   
        padding-top: var(--spacing-large);
        display: flex;
        flex-direction: column;
        gap: var(--spacing-medium);
     }

  .search-section {
   
        display: flex;
        gap: var(--spacing-medium);

 }
 


 .drugs-header {

        
       padding: var(--spacing-small);
       background-color: var(--color-secondary);
       display: flex;
       gap: var(--spacing-small);

 }


span { 

       flex-basis:15%;
       display: flex;
       justify-content: center;
       align-items: center; 
 }


.drugs-list li  {
       padding: var(--spacing-small);
       border: 1px solid var(--color-primary);
       background-color: var(--color-secondary);
       display: flex;
       gap: 3rem;
       align-self: center;
 }



   .error-message {
       color: red;
       font-size: 0.8rem;
  }


@media screen and ( min-width: 500px ){

   main { 
    
    display: flex;
    flex-direction: row;
    gap: var(--spacing-medium);

  }   

   
 .drugs-header {
    
  padding: var(--spacing-medium);
  display: flex;
  gap: 0.8rem;

 }


.drugs-list li , .drugs-header{
 
 width:55rem;
 
 }
}